{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>ESTI Canteen - About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="og:title" content="ESTI Canteen - About" />
    <meta name="twitter:title" content="ESTI Canteen - About" />
    <meta name="description" content="The about page of ESTI Canteen." />
    <meta name="twitter:description" content="The about page of ESTI Canteen." />
    <meta name="og:description" content="The about page of ESTI Canteen." />
    <meta name="twitter:image" content="{% static 'canteen/bg.jpg' %}" />
    <meta name="og:image" content="{% static 'canteen/bg.jpg' %}" />

    <link rel="icon" href="{% static 'canteen/esti_icon.png' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'canteen/esti_icon.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'canteen/w3.css' %}" />
    <script rel="script" src="{% static 'canteen/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <style>
        header a {
            margin-bottom: 6px;
        }

        header img {
            width: 80px;
            height: auto;
        }

        header,
        footer {
            background: linear-gradient(to bottom right, #2196F3, violet);
        }

        @media (max-width:768px) {
            footer h1 {
                font-size: 25px;
            }
        }
    </style>
</head>

<body class="w3-animate-opacity">
    <header class="w3-container w3-text-white" style="margin-bottom: 64px">
        <div class="w3-content w3-center w3-padding-64">
            <img src="{% static 'canteen/esti_icon.png' %}" />
            <h5>Educational Systems Technological Systems</h5>
            <h1>The Online Canteen</h1>
            <p>
                <a href="{% url 'canteen:home' %}" class="w3-button w3-border w3-round-xxlarge"><i
                        class="fa fa-home"></i> Home</a>
            </p>
        </div>
    </header>

    <article class="w3-container">
        <div class="w3-content w3-center">
            <h2>About website</h2>
            <p class="w3-large w3-center">ESTI Canteen Online Ordering System is an art of the ICT-12 students <a
                    href="#devs">below</a>. This
                application fosters the ordering process. Students no longer have to wait in line. Also, students do not
                need to go down stairs just to know the foods being sold at the canteen, thus, saving them time and
                energy. This website also features a friendly design. The developers made the interface as simple
                as possible to give the users a fine experience.</p>
            <h2 style="margin-top: 100px;margin-bottom: 50px">Technologies being used</h2>
            <div class="w3-row-padding w3-center">
                <div class="w3-col s4 m3 w3-margin-bottom">
                    <img src="{% static 'canteen/html.png' %}" width="100" height="auto">
                    <p>HTML</p>
                </div>
                <div class="w3-col s4 m3 w3-margin-bottom">
                    <img src="{% static 'canteen/css.jpg' %}" width="100" height="auto">
                    <p>CSS</p>
                </div>
                <div class="w3-col s4 m3 w3-margin-bottom">
                    <img src="{% static 'canteen/js.png' %}" width="100" height="auto">
                    <p>JavaScript</p>
                </div>
                <div class="w3-col s4 m3 w3-margin-bottom">
                    <img src="{% static 'canteen/jq.png' %}" width="100" height="auto">
                    <p>jQuery</p>
                </div>
                <div class="w3-col s4 m4 w3-margin-bottom">
                    <img src="{% static 'canteen/py_django.png' %}" width="100" height="auto">
                    <p>Python and Django</p>
                </div>
                <div class="w3-col s4 m4 w3-margin-bottom">
                    <img src="{% static 'canteen/git.png' %}" width="100" height="auto">
                    <p>Git</p>
                </div>
                <div class="w3-col s6 m4 w3-margin-bottom">
                    <img src="{% static 'canteen/vscode.png' %}" width="100" height="auto">
                    <p>VS Code</p>
                </div>
                <div class="w3-col s6 m12 w3-margin-bottom">
                    <img src="{% static 'canteen/pa.png' %}" width="100" height="auto">
                    <p><a href="pythonanywhere.com">PythonAnywhere.com</a></p>
                </div>
            </div>
            <h2 id="devs" style="margin-top: 100px;margin-bottom: 50px">Programmers</h2>
            <div class="w3-large">
                <p>Joylyn Malapad Hintay</p>
                <p>Jairene Jean Ferolino Maac</p>
                <p>Cristine Semilla Cruzado</p>
                <p>Chrislear L. Jusayan</p>
                <p>Nica Mitch Fidelino Saguid</p>
                <p>Denniel Luis Saway Sadian</p>
            </div>
        </div>
    </article>

    <footer class="w3-container w3-center w3-padding-64 w3-text-white" style="margin-top: 64px">
        <div class="w3-content">
            <h1 class="w3-text-white">
                <i class="fas fa-quote-left"></i>
                If more of us valued food and cheer and song above hoarded gold, it
                would be a merrier world.
                <i class="fas fa-quote-right"></i>
            </h1>
            <p class="w3-text-white">― J.R.R. Tolkien</p>
        </div>
        <a href="{% url 'canteen:home' %}" class="w3-button w3-margin-top w3-round-xxlarge w3-border">
            <i class="fas fa-home"></i> Home</a>
        <a href="{% url 'canteen:feedback' %}" class="w3-button w3-margin-top w3-round-xxlarge w3-border">
            <i class="fas fa-feather-alt"></i> Feedback</a>
        <a href="{% url 'canteen:about' %}" class="w3-button w3-margin-top w3-round-xxlarge w3-border">
            <i class="fas fa-info-circle"></i> About</a>
        <a href="{% url 'canteen:privacy-policy' %}" class="w3-button w3-margin-top w3-round-xxlarge w3-border">
            <i class="fas fa-info-circle"></i> Privacy Policy</a>
        <p class="w3-text-white w3-opacity"><a href="https://sadian.herokuapp.com">@Sadian</a></p>
    </footer>
</body>

</html>