{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>ESTI Canteen - {% block title %}Home{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'canteen/w3.css' %}" />
    {% block styles %} {% endblock %}
    <style>

    </style>
</head>

<body>
    <header class="w3-purple">
        {% block header %} {% endblock %}
    </header>

    <article id="article" class="w3-container w3-padding-32 w3-margin">
        <div class="w3-content">
            {% block article %} {% endblock %}
        </div>
    </article>

    <footer class="w3-purple">
        <div class="w3-container w3-center w3-padding">
            <h1>Hello world</h1>
            <a href="admin/" class="w3-button w3-padding w3-round">Manage</a>
        </div>
    </footer>

</body>

</html>