{% extends 'canteen/manage_base.html' %}

{% block title %}Create Dish{% endblock %}

{% block header %}Creating a Dish{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<article class="w3-container w3-margin-top w3-padding-top">
    <form enctype="multipart/form-data" method="POST" action="" class="w3-content">
        {% csrf_token %}
        <h2>Please fill in the form</h2>
        <p>Make sure that you input correct information about the dish.</p>
        <hr />
        <div class="w3-white w3-padding-16 w3-round-large">
            <span class="input-cont">
                <label for="name">Name:</label>
                {{ form.name }}
            </span>
            <span class="input-cont">
                <label for="price">Price:</label>
                {{ form.price }}
            </span>
            <span class="input-cont">
                <label for="description">Description:</label>
                {{ form.description }}
            </span>
            <span class="input-cont">
                <label for="photo">Photo:</label>
                {{ form.photo }}
            </span>
            <label class="container">An everyday dish
                <input type="checkbox" id="id_everyday" name="everyday" {% if form.everyday.value %}checked="checked"
                    {% endif %}>
                <span class="checkmark"></span>
            </label>
        </div>
        <hr />
        <div class="w3-right w3-margin-top w3-margin-bottom">
            <a href="{% url 'canteen:manage-dishes' %}" class="w3-button w3-border w3-round-xxlarge">
                <i class="fas fa-arrow-alt-circle-left"></i> Go back</a>
            <button type="submit" class="w3-button w3-green w3-round-xxlarge">
                <i class="fas fa-save"></i> Save
            </button>
        </div>
    </form>
</article>
{% endblock %}