{% extends 'canteen/manage_base.html' %}

{% block title %}Create Dish{% endblock %}

{% block header %}Creating a Dish{% endblock %}

{% block style %}
<style>
    .errorlist {
        color: red;
    }
</style>
{% endblock %}

{% block content %}
<article class="w3-container w3-margin-top w3-padding-top">
    <form enctype="multipart/form-data" method="POST" action="" class="w3-content">
        {% csrf_token %}
        <h2>Please fill in the form</h2>
        <p>Make sure that you input correct information about the dish.</p>
        <hr />
        <div class="w3-white w3-padding-16 w3-round-large">

            <input type="text" placeholder="Name of the dish" name="name"
                value="{% if form.name.value %}{{ form.name.value }}{% endif %}" />
            {{ form.name.errors }}

            <input type="number" placeholder="Price of the dish" name="price" min="1"
                value="{% if form.price.value %}{{ form.price.value }}{% endif %}" />
            {{ form.price.errors }}

            <input type="text" placeholder="Description" name="description"
                value="{% if form.description.value %}{{ form.description.value }}{% endif %}" />
            {{ form.description.errors }}

            {{ form.photo }}
            {{ form.photo.errors }}

        </div>
        <hr />
        <div class="w3-right w3-margin-top w3-margin-bottom">
            <a href="{% url 'canteen:manage' %}" class="w3-button w3-gray w3-round-xxlarge">
                <i class="fas fa-arrow-alt-circle-left"></i> Go back</a>
            <button type="submit" class="w3-button w3-green w3-round-xxlarge">
                <i class="fas fa-paper-plane"></i> Create dish
            </button>
        </div>
    </form>
</article>
{% endblock %}