{% load humanize %}
{% load thumbnail %}

<style>
    #dishes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 30px;
        position: relative;
    }

    .dish a {
        color: black;
        text-decoration: none;
    }

    .dish>a>div {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
    }

    .dish-image-cont {
        position: relative;
    }

    .price {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .dish-image {
        width: 100%;
        height: 200px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        object-fit: cover;
    }

    .opac {
        opacity: 0.5;
    }

    #dishes h4 {
        line-height: 1.3em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .w3-border {
        border-width: 2px !important;
    }

    .soldout-cover {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 60px;
    }
</style>

<div id="dishes" class="w3-row">
    {% for dish in dishes %}
    <div class="w3-col m6 l4 dish w3-animate-zoom">
        <a href="{% url 'canteen:not-api-dish-detail' dish.id %}"
            class="soldout-cover {% if not dish.sold_out %}w3-hide{% endif %}">
            <h1 class="w3-tag w3-red w3-round-large">SOLD OUT</h1>
        </a>
        <a href="{% url 'canteen:not-api-dish-detail' dish.id %}">
            <div class="w3-center w3-card-4 w3-border w3-border-purple">
                <div class="dish-image-cont {% if dish.sold_out %}opac{% endif %}">
                    <!--
{% thumbnail dish.photo "500x500" crop="center" as im %}
            <img src="{{ im.url }}">
            {% endthumbnail %}
            -->
                    <img src="{{ dish.photo }}" class="dish-image">
                    <span class="w3-card-4 w3-tag w3-round-xxlarge w3-light-green price">₱
                        {{ dish.price|intcomma }}</span>
                </div>
                <div class="w3-padding {% if dish.sold_out %}opac{% endif %}">
                    <h4 class="{% if dish.sold_out %}w3-text-red{% endif %}">
                        {{ dish.name|title }}
                    </h4>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>