{% extends "canteen/base.html" %}

{% block title %}
{{ dish.name|title }}
{% endblock %}

{% block header %}
<div class="w3-container w3-center">
    <h1>{{ dish.name|title }}</h1>
    <h4 class="w3-opacity">It's so good to eat, especially if you've paid well.</h4>
    <p>
        <a href="#article" class="w3-button w3-padding w3-round">Details</a>
    </p>
</div>
{% endblock %}

{% block article %}
{% if dish.sold_out %}
<div class="w3-center w3-red w3-card-4 w3-round w3-padding">
    <h1>{{ dish.name|title }} is sold out!</h1>
    <p>You did not order quickly. How about picking other dishes?</p>
</div>
{% else %}
<h1>{{ dish.name|title }}!</h1>
<p class="w3-padding">
    <span class="w3-large w3-border w3-border-red w3-padding w3-round w3-text-red">{{ dish.price }}
        pesos</span>
</p>
<p class="w3-padding">
    <span class="w3-large w3-border w3-border-blue w3-padding w3-round w3-text-blue">{{ orders }}
        orders</span>
</p>
<p>{{ dish.description }}</p>
{% endif %}
<hr />
<div class="w3-container">
    <a href="{% url 'canteen:order' dish.id %}" class="w3-right w3-margin w3-button w3-round w3-purple">Order</a>
    <a href="{% url 'canteen:home' %}" class="w3-right w3-margin w3-button w3-round w3-purple">Home</a>
</div>
{% endblock %}