{% extends 'canteen/manage_base.html' %}

{% block title %}Update {{ form.name.value|title }}{% endblock %}

{% block header %}Update {{ form.name.value|title }}{% endblock %}

{% block style %}
<style>
    .errorlist {
        color: red;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #image {
        display: flex;
        justify-content: right;
        flex-direction: column;
        width: 40%;
    }

    #flex-cont {
        display: flex;
    }

    #form {
        width: 60%;
    }

    @media (max-width: 425px) {
        #flex-cont {
            flex-direction: column;
        }

        #form {
            width: 100%;
        }

        #image {
            width: 100%;
            height: 200px;
        }
    }
</style>
{% endblock %}

{% block content %}
<article class="w3-container w3-margin-top w3-padding-top">
    <div class="w3-content">
        <h2>Please fill in the form</h2>
        <p>Make sure that you input correct information about the dish.</p>
    </div>
    <div id="flex-cont" class="w3-content">
        <div id="image">
            <img class="w3-round-large w3-border w3-border-green" src="/media/{{ form.photo.value }}" />
        </div>
        <form enctype="multipart/form-data" method="POST" action="" style="flex-grow: 8" class="w3-padding">
            {% csrf_token %}
            <div class="w3-white w3-padding-16 w3-round-large">
                <label for="name" class="w3-opacity">Name:</label>
                <input type="text" class="w3-input w3-margin-bottom" name="name"
                    value="{% if form.name.value %}{{ form.name.value }}{% endif %}" />
                {{ form.name.errors }}

                <label for="price" class="w3-opacity">Price:</label>
                <input type="number" class="w3-input w3-margin-bottom" name="price"
                    value="{% if form.price.value %}{{ form.price.value }}{% endif %}" />
                {{ form.price.errors }}

                <label for="description" class="w3-opacity">Description:</label>
                <input type="text" class="w3-input w3-margin-bottom" name="description"
                    value="{% if form.description.value %}{{ form.description.value }}{% endif %}" />
                {{ form.description.errors }}

                <label for="sold_out" class="w3-opacity">Sold out:</label>
                {{ form.sold_out }}
                {{ form.sold_out.errors }}

                <br />
                <label for="photo" class="w3-opacity">Photo:</label>
                {{ form.photo }}
                {{ form.photo.errors }}

            </div>
            <div class="w3-right w3-margin-top w3-margin-bottom">
                <a href="{% url 'canteen:manage' %}" class="w3-button w3-gray w3-round-xxlarge">
                    <i class="fas fa-home"></i> Go back</a>
                <button type="submit" class="w3-button w3-green w3-round-xxlarge">
                    <i class="fas fa-paper-plane"></i> Submit
                </button>
            </div>
        </form>
    </div>
</article>
{% endblock %}