{% extends 'canteen/manage_base.html' %}

{% load static %}

{% block content %}
<article class="w3-container w3-margin-top w3-padding-top">
    <div class="w3-content">
        {% if dishes %}
        <h2>These are the dishes today.</h2>
        {% include 'canteen/dishes.html' with dishes=dishes %}
        {% else %}
        <h2>The canteen has no dishes yet.</h2>
        {% endif %}
        <a href="{% url 'canteen:create' %}" class="w3-button w3-round-xxlarge w3-green w3-right">Add dish</a>
    </div>
</article>
{% endblock %}