{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>ESTI Canteen - Manage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Loot at the audit and the real-time orders." />
    <link rel="icon" href="{% static 'canteen/esti_icon.png' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'canteen/esti_icon.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'canteen/w3.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <style>
        header {
            margin-bottom: 40px;
        }

        body {
            margin-bottom: 100px;
        }

        article {
            margin-bottom: 50px;
        }

        hr {
            margin-top: 10px;
        }

        a {
            color: #2196F3;
        }
    </style>
</head>

<body>
    <header class="w3-container w3-green">
        <div class="w3-content w3-center w3-padding-64">
            <h1>Welcome to the Managing Site</h1>
            <p class="w3-large">This page is only accessible by site admins.</p>
            <p>
                <a href="{% url 'canteen:home' %}" class="w3-button w3-border w3-round-xxlarge">Home</a>
            </p>
        </div>
    </header>
    <article class="w3-container">
        <div class="w3-content">
            <h2>How to add a dish?</h2>
            <hr />
            <p>So, we're cookin'! And you want to display the dishes. Well, here's how to do that.</p>
            <ol>
                <li>
                    <p>Go to the admin site.</p>
                </li>
                <li>
                    <p>Locate the "Dishes" link, and at its right, click the "Add" link that has the plus icon.</p>
                </li>
                <li>
                    <p>Fill in the name, price, description, and select the photo of the dish from your device (make
                        sure that you ready that photo). The sold
                        out check box in not mandatory, you'll only check it if the canteen runs out of that dish.</p>
                </li>
                <li>
                    <p>
                        Finally, save the dish in the database. You have three options of saving it.
                        <ul>
                            <li>
                                <p><b>Save</b> - Simply save it, and the site will redirect you to the list of all
                                    dishes.</p>
                            </li>
                            <li>
                                <p><b>Save and add another</b> - Just like the simple saving, but it will redirect you
                                    to the same page with the form being cleaned.</p>
                            </li>
                            <li>
                                <p><b>Save and continue editing</b> - It's simply saving the dish as well, but it
                                    will redirect you to the same page containing the form that has the values you've
                                    entered. Prefered if you want to further edit the dish.</p>
                            </li>
                        </ul>
                    </p>
                </li>
            </ol>
        </div>
    </article>
    <article class="w3-container">
        <div class="w3-content">
            <h2>How to edit a dish?</h2>
            <hr />
            <p>If there's something you like to change with the dishes, like spelling, pricing, photo or anything, you
                can simple follow these steps.</p>
            <ul>
                <li>
                    <h3>Manual edit at the admin site.</h3>
                    <ol>
                        <li>
                            <p>Go to the admin site.</p>
                        </li>
                        <li>
                            <p>Below the Canteen, click the "Dishes" link.</p>
                        </li>
                        <li>
                            <p>Click the link that says the name of the dish you want to edit. If you have a difficulty
                                finding
                                that dish, you can use the search feature located on the top.</p>
                        </li>
                        <li>
                            <p>If you've found the link to the dish, click it, of course.</p>
                        </li>
                        <li>
                            <p>If you're done editting it, then save it.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <h3>Direct edit in the detail page of the dish.</h3>
                    <ol>
                        <li>
                            <p>Go to the home page of the website.</p>
                        </li>
                        <li>
                            <p>Click the dish that you want to edit.</p>
                        </li>
                        <li>
                            <p>On the top-right corner of the card, you'll see a pencil icon, click that. You're seeing
                                this icon because you're logged in. If no one's logged in, this icon will not be
                                showing, hiding it from the customers.</p>
                        </li>
                        <li>
                            <p>Edit the dish.</p>
                        </li>
                        <li>
                            <p>And, of course, save it.</p>
                        </li>
                    </ol>
                </li>
            </ul>
        </div>
    </article>
</body>

</html>