{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>ESTI Canteen - Real-time Orders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'canteen/w3.css' %}" />
    <script rel="script" src="{% static 'canteen/jquery.min.js' %}"></script>
    <style>
        #orders {
            overflow-y: auto;
        }

        #buttons {
            text-align: right;
        }
    </style>
</head>

<body>
    <header class="w3-container w3-center w3-padding-32 w3-black">
        <h1>Real-time <span class="w3-tag w3-orange w3-round">Orders</span></h1>
        <a href="{% url 'canteen:home' %}" class="w3-button w3-round-xxlarge">Home</a>
        <a href="/admin/" class="w3-button w3-round-xxlarge">Manage</a>
    </header>
    <article class="w3-container w3-padding-32">
        <div class="w3-content">
            <h3>These are the current orders.</h3>
            <div id="orders"></div>
        </div>
    </article>
    <div id="confirm" class="w3-modal">
        <div class="w3-cotainer w3-animate-top w3-padding w3-modal-content w3-round-large">
            <h2>Confirmation</h2>
            <p>If the customer of this order did not take it on time, and this has been given to others already,
                then you're fine to delete it.</p>
            <p>Also, you should not delete orders that have been served because they are vital in making the report
                below.</p>
            <p>Are you sure that you want to delete this order? Doing so, will of course, delete it
                permanently.</p>
            <p id="buttons">
                <button class="w3-blue w3-button w3-round-xxlarge" onclick="$('#confirm').slideUp()">No</button>
                <button class="w3-red w3-button w3-round-xxlarge" onclick="deleteCompletely()">Yes</button>
            </p>
        </div>
    </div>
    <script>
        var orderId;
        function markServed(id) {
            $.get('/api-mark-as-served/' + id + '/');
            structureOrders();
        }
        function prepareForDeleting(id) {
            orderId = id;
            $('#confirm').show();
        }
        function deleteCompletely() {
            $.get('/api-delete-order/' + orderId + '/');
            orderId = ''
            structureOrders();
            $('#confirm').slideUp();
        }
        function structureOrders() {
            $.get("{% url 'canteen:json-orders' %}", function (data, status) {
                var table = $(
                    '<table class="w3-table-all w3-bottombar">' +
                    '<tr class="w3-black">' +
                    '<th class="w3-center w3-border">Name</th>' +
                    '<th class="w3-center w3-border">ID No.</th>' +
                    '<th class="w3-center w3-border">Dish</th>' +
                    '<th class="w3-center w3-border">Quantity</th>' +
                    '<th class="w3-center w3-border">Amount to Pay</th>' +
                    '<th class="w3-center w3-border">Date & Time</th>' +
                    '<th class="w3-center w3-border">Served</th>' +
                    '<th class="w3-center w3-border">Action 1</th>' +
                    '<th class="w3-center w3-border">Action 2</th>' +
                    '</tr>' +
                    '</table>');
                for (var o in data) {
                    var tr = $('<tr></tr>');
                    tr.append($('<td class="w3-center w3-border">' + data[o].name + '</td>'));
                    tr.append($('<td class="w3-center w3-border">' + data[o].id_no + '</td>'));
                    tr.append($('<td class="w3-center w3-border">' + data[o].dish + '</td>'));
                    tr.append($('<td class="w3-center w3-border">' + data[o].count + '</td>'));
                    tr.append($('<td class="w3-center w3-border">' + data[o].amount + ' pesos</td>'));
                    tr.append($('<td class="w3-center w3-border">' +
                        new Date(data[o].date).toLocaleString() + '</td>'));
                    tr.append($('<td class="w3-center w3-border">'
                        + String(data[o].served ?
                            '<span class="w3-tag w3-blue w3-round">Yes</span>' :
                            '<span class="w3-tag w3-red w3-round">No</span>') +
                        '</td>'));
                    tr.append($('<td class="w3-center w3-border">' +
                        '<button class="w3-button w3-round-xxlarge w3-orange" onclick="markServed(' +
                        data[o].id +
                        ')">Toggle Served</button>' +
                        '</td>'));
                    tr.append($('<td class="w3-center w3-border">' +
                        '<button class="w3-button w3-round-xxlarge w3-red" onclick="prepareForDeleting(' +
                        data[o].id +
                        ')">Delete</button>' +
                        '</td>'));
                    table.append(tr);
                }
                $('#orders').html(table);
            })
        }
        $(document).ready(function () {
            setInterval(structureOrders, 1000)
        })
    </script>
</body>

</html>